/* _variables.css */
:root {
    /* colors */
    --primary: #007bff;
    --secondary: #6c757d;
    --background: #f8f9fa;
    --text-color: #333;

    /* fonts */
    --font-main: "Inter", sans-serif;
    --font-secondary: "Playfair Display", sans-serif;
    --font-size-base: 16px;

}
